* {
  box-sizing: border-box;
}

/* Style the search field */
.search form input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  background: #f1f1f1;
  margin: auto;
  max-width: 300px;
}

/* Style the submit button */
.search form button {
  float: left;
  width: 20%;
  margin: auto;
  max-width: 50px;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

.search form button:hover {
  background: #0b7dda;
}

/* Clear floats */
.search form::after {
  content: "";
  clear: both;
  display: table;
}